body{
    width: 600px;
    
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
  color: black;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%
}
}
.col-1-3,
.col-2-3{
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
}
/*#sendicate, #teacup{
    width: 50%;
    float:left;
    height: 190px;
    image-resolution: from-image;
    
    
}
#phone{
    width: 50%
    float: right;
}
#shoes{
    width: 30%
    float:right;

}*/
.ad{
    width: 100%;
    height: 100px;
    background-color: lawngreen;
    
}





/*
  ========================================
  Primary header
  ========================================
*/
header{
    background-color: black;
    width: inherit;
}

h1{
    color: yellow;
    font-family: sans-serif
}


.logo {
  float: left;
}

.logo {
  border-top: 4px solid #000;
  padding: 40px 0 22px 0;
  float: left;
}

h3.head{
    font-family: cursive;
    color: aliceblue;
    text-transform: lowercase;
    padding: 100px 0 2px 0;
    float: right
}

.top{
    background-image: url(preCourseWork/psd2html/pce1/assets/big_img.jpg);
    height: 290px;
    width: 600px
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer small {
  float: center;

}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

footer{
    background-color: black;
    font-family: monospace;
    height: 100px;
    text-align: center;
}
small{
    color: yellow;

}


/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

