body{
    width: 600px
}
header{
    background-color: black;
}

h1{
    color: yellow;
    font-family: sans-serif
}
h3.head{
    font-family: cursive;
    color: aliceblue;
    text-transform: lowercase;
}
footer{
    background-color: black;
    font-family: monospace;
}
small{
    color: yellow;
}
.top{
    background-image: url(preCourseWork/psd2html/pce1/assets/big_img.jpg);
    height: 290px;
    width: 600px
}
.teaser col-1-3{
    
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.grid {
  margin: 0 auto;
  width: 960px;
}
#sendicate{
    padding-left: 30px;
    text-align: left;
    
}
#phone{
    padding-right: 65px;
    image-resolution: from-image;
}