/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: white;
  color: black;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 600px;
  float: left;
}
/*
  ========================================
  Grid
  ========================================
*/

*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 600px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.container shoes{

}
#sendicate, #teacup{
    width: 50%;
    float:left;
    height: 190px;
    image-resolution: from-image;
}
#phone{
    width: 50%
    float: right;
}
#shoes{
    width: 30%
    float:right;
}
.ad{
    width: 100%;
    height: 100px;
    background-color: lawngreen;
    
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}
/*  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}
/*  ========================================
  Links
  ========================================
*/

a {
  color: cadetblue;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #000;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #000;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #000;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #000;
}
.btn-alt {
  border: 1px solid #000;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: grey;
  color: black;
}


/*
  ========================================
  Primary header
  ========================================
*/
header{
    background-color: black;
    width: inherit;
}

h1{
    color: yellow;
    font-family: sans-serif
}


.logo {
  float: left;
}

.logo {
  border-top: 4px solid #000;
  padding: 40px 0 22px 0;
  float: left;
}

h3.head{
    font-family: cursive;
    color: aliceblue;
    text-transform: lowercase;
    padding: 100px 0 2px 0;
    float: right
}

.top{
    background-image: url(preCourseWork/psd2html/pce1/assets/big_img.jpg);
    height: 290px;
    width: 600px
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer small {
  float: center;

}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

footer{
    background-color: black;
    font-family: monospace;
    height: 100px;
    text-align: center;
}
small{
    color: yellow;

}


